{% extends "layout.html" %}

{% block title %}
    Loan calculator
{% endblock %}

{% block main %}
    
    <script>
        
        function calculate(){

            let principal = document.getElementById("amount").value
            let interest = document.getElementById("rate").value / 100 / 12
            let payments = document.getElementById("years").value * 12

            let x = Math.pow(1 + interest, payments);
            let monthly = (principal*x*interest)/(x-1); 
            
            document.getElementById("payments").innerHTML = monthly.toFixed(2)
            document.getElementById("interests").innerHTML = ((monthly*payments)-principal).toFixed(2)
            document.getElementById("total").innerHTML = ((monthly*payments)).toFixed(2)
            drawChart()
        }
        window.addEventListener("load", function() {
                calculate();
            });

        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        
        function drawChart(colors) {
            a = parseFloat(document.getElementById("total").innerHTML)
            b = parseFloat(document.getElementById("interests").innerHTML)
            c = parseFloat((a - b).toFixed(0))
            var data = google.visualization.arrayToDataTable([
            ['What', 'How much'],
            ['Loan', c],
            ['Interests', b]
            ]
            );

            var options = {
            backgroundColor: {fill:"transparent"},
            pieSliceBorderColor : "transparent",
            colors: ["#5cdb95","#379683"],
            textStyle: {
                    color: '#ffffff',
                }
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(data, options);
        }
	</script>
    <style>
        .inputs{
            margin-top: 50px;
            align-items: center;
            width:100%;
            justify-content: center;
            display: grid;  
            grid-gap: 10px;    
            grid-template-columns: 200px 200px;
        }
        .input{
            text-align: left 10px;
        }
        .results{
            margin-top: 4%;
            align-items: center;
            width:100%;
            justify-content: center;
            display: grid;  
            grid-gap: 10px;    
            grid-template-columns: 200px 200px;
        }
    </style>

    <div class="mb-3">
        <h1>Loan Calculator</h1>
        <h4 style="color: var(--two)">for lazy but alert people</h4><br>
        <h4 style="color: var(--two)">Here's the loan calculator</h4>
        <div id="calc" style="display: grid; grid-template-columns: 40% 40%; justify-content: center;">
            <div id="inputs and results">
                <div class="inputs">
                    <div class="input">
                        <span>Loan amount</span>
                    </div>
                    <div  class="input">
                        <input class="myStyle" type="text" id="amount" value="100000" onkeyup="calculate()">
                    </div>
                    <div class="input">
                        <span>Interest rate (%)</span>
                    </div>
                    <div class="input">
                        <input class="myStyle" type="text" id="rate" value="3" onkeyup="calculate()">
                    </div>
                    <div class="input">
                        <span>Years</span>
                    </div>
                    <div>
                        <input class="myStyle" type="text" id="years" value="25" onkeyup="calculate()">
                    </div>    
                </div>
                <div class="results">
                    <div>
                        <span>Monthly payments</span>
                    </div>
                    <div>
                        <span id="payments"></span>
                    </div>
                    <div>
                        <span>Total interests</span>
                    </div>
                    <div>
                        <span id="interests"></span>
                    </div>
                    <div>
                        <span>Total loaned</span>
                    </div>
                    <div>
                        <span id="total"></span>
                    </div>
                </div>
            </div>
            <div id="piechart" style="width: 500px; height: 300px;"></div>
        </div>
</div>
{% endblock %}
