{% extends "layout.html" %}

{% block title %}
    Easy Personal Finance
{% endblock %}

{% block main %}
    <div class="mb-3">
        <h1>Finance Calculators</h1>
        <h4 style="color: var(--two)">for lazy but alert people</h4>
    </div>
    <div>
        <div class="calculatorButton">Loan</div>
        <div class="calculatorButton">Rent vs Buy</div>
        <div class="calculatorButton">Italian from RAL to net calculator</div>
        <div class="calculatorButton">Other (gas maybe)</div>
    </div>
{% endblock %}
