:root {
  --one: #05386b;
  --two: #379683;
  --three: #5cdb95;
  --four: #8EE4Af;
  --five: #edf5e1;
}

a:visited:hover{color: var(--five)}
.myForm{
  padding: 0.5%;
  padding: 0.5%;
  background-color: var(--three);
  color: var(--one);
  border-radius: 12px;
  border-color: var(--two);
  border-width: 4px;
}
.myButton{
  padding: 0.5%;
  background-color: var(--three);
  color: var(--one);
  border-radius: 12px;
  border-color: var(--two);
  border-width: 4px;
}
.calculatorButton {
  margin-left: 2%;
  background-color: var(--three); 
  color: var(--one); 
  font-size: 1.2em;
  border-radius: 12px;
  width: 13%;
  margin-bottom: 1%;
}
.calculatorButton:hover{
  cursor: pointer;
  margin-left: 3%;
}
.buttonLink {
  background-color: var(--two); 
  height: 3em;
  border-radius: 12px; 
  color: var(--one); 
  text-decoration: none
}

body {text-align: center}
  
footer {
    bottom: 0%;
    color: var(--one);
    font-size: 0.9em;
    background-color: var(--three);
    position: fixed;
    width:100%;
}

.wrap{
    margin-bottom:50px;
}

.grow {   
  width: 19%;
  height: 20vw;
  margin: 5px;
  padding: 1%;
  border: 2px solid var(--two);
  float: left;
  border-radius: 12px; 
  font-size: 2.1em;
  margin-top: 10%;
  }

.grow:hover {   
  width: 20%;
  height: 22vw;
  margin: -0.69px;
  padding: 1%;
  border: 2px solid var(--two);
  float: left;
  border-radius: 12px; 
  overflow: hidden;
  margin-top: 8.5%;
  font-size: 2.4em;
  cursor: pointer;
  }