:root {
  --one: #05386b;
  --two: #379683;
  --three: #5cdb95;
  --four: #8EE4Af;
  --five: #edf5e1;
}

#div-with-bg{
    height: 200px;
    background-image: url("https://cdn.pixabay.com/photo/2012/08/27/14/19/mountains-55067_960_720.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position-y: -150px;
}
a:visited{
  color: var(--one);
}
a:hover {
  color: red;
}

.buttonLink {
  background-color: var(--two); 
  height: 3em;
  border-radius: 12px; color: 
  var(--one); 
  text-decoration: none
}

body {
    text-align: center;
  }
  table {
    border-collapse: collapse;
  }
  
footer {
    bottom: 0%;
    color: var(--one);
    font-size: 0.9em;
    background-color: var(--three);
    position: fixed;
    width:100%;
}

.wrap{
    margin-bottom:50px;
}

#div1, #div2, #div3, #div4 {   
  width: 19%;
  height: 20vw;
  margin: 5px;
  padding: 1%;
  border: 1px solid black;
  float: left;
  }