:root {
  --one: #05386b;
  --two: #379683;
  --three: #5cdb95;
  --four: #8EE4Af;
  --five: #edf5e1;
  --six: #ff0000f5;
}

@media (min-width: 400px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 650px) {
  .cards { grid-template-columns: repeat(3, 1fr); }
}

@media (min-width: 850px) {
  .cards { grid-template-columns: repeat(4, 1fr); }
}

@keyframes drop {
  0% {
      transform: translateY(19px);
      opacity: 0;
  }
  25% {
      transform: translateY(12px);
      opacity: 0.3;
  }
}

@keyframes undrop {
  0% {
      transform: translateY(-12px);
      opacity: 1;
  }
  50% {
      transform: translateY(-8px);
      opacity: 1;
  }
}


a:hover{
  text-decoration: none !important;
  color: inherit;
}

.myStyle{
  padding: 1%;
  color: var(--three);
  background-color: var(--one);
  border-style: solid;
  border-width: 3px;
  border-color: var(--three);
  border-radius: 12px;
}


.buttonLink {
  background-color: var(--two); 
  height: 3em;
  border-radius: 12px; 
  color: var(--one); 
  text-decoration: none
}
  
footer {
    bottom: 0%;
    color: var(--one);
    font-size: 0.9em;
    background-color: var(--three);
    position: fixed;
    width:100%;
}

.card {
  height: 200px;
  margin-right: 1%;
  margin-top: 10px;
  padding: 10px;
  border: 3px solid var(--two);
  border-radius: 12px; 
  background-color: var(--one);
  cursor: pointer;
  font-size: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: undrop 0.4s linear forwards 1;
}

.cards{
  padding: 2%; 
  justify-content: space-around;
  max-width: 1150px;
  margin: 0 auto;
  grid-gap: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 250);
  grid-template-rows: repeat(1, 250);
}

.info{
  color: var(--two);
  display: none;
}

.card:hover {
    margin-top: 0%;
    box-shadow: 2px 5px;
    animation: drop 0.2s linear forwards 1;
    
}

.card:hover .info{
  display: block;
  animation: drop 0.3s linear forwards 1;
}

.doubleButton{
  justify-content: space-between;
  text-decoration: none;
  color:var(--two);
  padding: 7%;
  position: relative;
}

.doubleButton::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 15%;
  left: 0;
  background-color: var(--one);
  transform-origin: bottom;
  transition: transform 0.25s ease-out;
}

.doubleButton:hover::after {
  transform: scaleX(1);
  transform-origin: bottom;
}

.doubleButtonDiv:hover{
  background-color: var(--three);
  color:var(--one);
}

.doubleButtonDiv{
  justify-content: space-between; 
  margin: 10px 10px; 
  width: 150px;
  display: flex;
  border-style: solid;
  border-width: 3px;
  border-color: var(--three);
  border-radius: 12px;
}

.homeTitle{
  font-size: 2.5em;
  text-decoration: none; 
  color: var(--three);
  position: relative;
}


.homeTitle::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--three);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.homeTitle:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.userTitle{
  color: var(--two); 
  font-size: 1.2em; 
  text-decoration: none;
}

.mainBody{
  background-color: var(--one); 
  color: var(--three); 
  text-decoration: none;
  text-align: center;
}

.navDiv{
  margin-left: 1%;
  display:flex; 
  justify-content:space-between
}