body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.number{
    width: 300px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border: 3px solid #555;
    outline: none;
    text-align: right;
}
.number:focus{
    border-radius: 5px;
}