{% extends "layout.html" %}

{% block title %}
    Easy Personal Finance
{% endblock %}

{% block main %}
    <div class="mb-3">
        <h1>Easy Personal Finance</h1>
        <h4 style="color: var(--two)">for lazy but alert people</h4>
    </div>
    <div style="margin-left: 17%;">
        <div class="grow" onclick="location.href='../financeCalculators'">Finance calculators</div>
        <div class="grow" onclick="location.href='../investingCalculators'">Investing calculators</div>
        <div class="grow" onclick="location.href='../healthCalculators'">Health calculators</div>
        <div class="grow" onclick="location.href='../otherCalculators'">Other (gas maybe)</div>
    </div>
    <div style="margin-top: 40%; margin-bottom: 10%;">
        <h1>About me</h1>
        <h3>I'm a student</h3>
        <h5>links</h5>
    </div>
{% endblock %}
