{% extends "layout.html" %}

{% block title %}
    Easy Personal Finance
{% endblock %}

{% block main %}
    <div style="animation: undrop 0.3s linear forwards 1;">
        <div class="mb-3">
            <h1>Easy Personal Finance</h1>
            <h4 style="color: var(--two)">for lazy but alert people</h4>
        </div>
        <div style="justify-content:center; text-align: center; margin: 0% 15%;">
            <h5>
                Everyone can have more budget just checking his expenses. I made some calculators that can help everyone personal finance, aiming to not throw money away.
            </h5>
        </div>
        <div>
            <h3 style="padding-top: 5%; margin-top: 4%;">Calculators</h3>
            <div class="cards">
                <div class="card" onclick="location.href='../financeCalculators'">Finance
                    <h5 class="info">Spiegazione molto lunga di quello che va a fare il calcolatore</h5>
                </div>
                <div class="card" onclick="location.href='/'">Investing
                    <h5 class="info">Spiegazione molto lunga di quello che va a fare il calcolatore</h5>
                </div>
                <div class="card" onclick="location.href='/'">Health
                    <h5 class="info">Spiegazione molto lunga di quello che va a fare il calcolatore</h5>
                </div>
                <div class="card" onclick="location.href='/'">Other (gas maybe)
                    <h5 class="info">Spiegazione molto lunga di quello che va a fare il calcolatore</h5>
                </div>
            </div>
        </div>
    </div>
    

{% endblock %}
