{% extends "layout.html" %}

{% block title %}
    Settings
{% endblock %}

{% block main %}
    <script>
        function hideElse(){
            document.getElementById('addCategoryButton').style.display = "none";
            document.getElementById('remCategoryButton').style.display = "none";
            document.getElementById('NCButton').style.display = "none";
            document.getElementById('remTransactionButton').style.display = "none";
        }

        function showDiv(currentDiv) {
            document.getElementById(currentDiv).style.display = "block";
            hideElse();
        }
    </script>

    <!--NEW CASH BUTTON-->
    <div id="NC"  style="display:none;" class="answer_list">
        <h2>Set new cash value</h2>
        <form method="post" action="/settings">
            <input type="number" name="newCash" placeholder="Amount">
            <input type="submit">
        </form>
    </div>
    <div id="NCButton">
        <br>
        <input  class="btn btn-primary" type="button"  name="answer" value="Set cash value" onclick="showDiv('NC')" />
    </div>
    

    <!--ADD CATEGORIES BUTTON-->
    <div id="addCategories"  style="display:none;" class="answer_list" >
        <h2>Add categories</h2>
        <form action="/settings" method="post">
            <select name="addCategoryType" id="cate">
                <option value="nu" disabled selected>Type</option>
                <option value="liability">Expense</option>
                <option value="income">Income</option>
            </select>
            <input type="text" name="addCategory" placeholder="Name" autocomplete="off">
            <input type="submit" value="Add">
        </form>
    </div>
    <div id="addCategoryButton">
        <br>
        <input type="button" class="btn btn-primary"  name="answer" value="Add categories" onclick="showDiv('addCategories')" />
    </div>


    <!--REMOVE CATEGORIES BUTTON-->
    <div id="remCategories"  style="display:none;" class="answer_list" >
        <h2>Remove categories</h2>
        <form action="/settings" method="post">
            <select name="remCategory" id="cate">
                <option value="nu" disabled selected>Category</option>
                {% for row in categories %}
                    <option value="{{ row['category'] }}">{{ row["category"] }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Remove">
        </form>
    </div>
    <div id="remCategoryButton">
        <br>
        <input type="button"  class="btn btn-primary" name="answer" value="Remove categories" onclick="showDiv('remCategories')" />
    </div>
    
    
    <!--REMOVE TRANSACTIONS BUTTON-->
    <div id="remTransaction"  style="display:none;" class="answer_list" >
        <h2>Remove transactions</h2>
        <form action="/settings" method="post">
            <select name="remTransaction" id="cate">
                <option value="nu" disabled selected>Transaction</option>
                {% for row in transactions %}
                    <option value="{{ row['id'] }}">Date: {{ row["date"] }}     Amount: {{ row["amount"] }}     Category: {{ row["category"] }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Remove">
        </form>
    </div>
    <div id="remTransactionButton">
        <br>
        <input type="button"  class="btn btn-primary"  name="answer" value="Remove transaction" onclick="showDiv('remTransaction')" />
    </div>
    
{% endblock %}