{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <script>
        if ( window.history.replaceState ) {
            window.history.replaceState( null, null, window.location.href );
        }
        function showDiv(div) {
        document.getElementById(div).style.display = "block";
        document.getElementById('tohide1').style.display = "none";
        document.getElementById('tohide2').style.display = "none";
        }
        </script>
    <div>
        <h1 style="line-height: 250%;">Current cash:  {{ "${:,.2f}".format(cash) }}</h1>
        <br><br>
        <input type="button" class="myButton" id="tohide1" name="answer" value="Add expense" onclick="showDiv('expDiv')" />
        <input type="button" class="myButton" id="tohide2" name="answer" value="Add income" onclick="showDiv('incDiv')" />
    </div>
    <div id="expDiv" style="display:none;" class="answer_list" >
        <br>
        <form action="/" method="post" id="myform">  
            <select name="category" class="myForm" id="cate">
                <option value="nu" disabled selected>Category</option>
                {% for row in expCategories %}
                    <option value="{{ row['category'] }}">{{ row["category"] }}</option>
                {% endfor %}
            </select>
            <input type="number" class="myForm" name="amount" placeholder="Amount" max="0" oninput="this.value = -Math.abs(this.value)" required>
            <input type="date" class="myForm" name="date" id="theDate" required>
            <input type="text" class="myForm" name="comment" placeholder="Comment (not required)" autocomplete="off">
            <br><br>
            <input type="submit"  class="myButton" value="Add transaction">
        </form>
        <br>
    </div>
    <div id="incDiv" style="display:none;" class="answer_list" >
        <br>
        <form action="/" method="post" id="myform">  
            <select name="category"  class="myForm" id="cate">
                <option value="nu" disabled selected>Category</option>
                {% for row in incCategories %}
                    <option value="{{ row['category'] }}">{{ row["category"] }}</option>
                {% endfor %}
            </select>
            <input type="number"  class="myForm" name="amount" placeholder="Amount" required>
            <input type="date"  class="myForm" name="date" id="theDate" required>
            <input type="text"  class="myForm" name="comment" placeholder="Comment (not required)" autocomplete="off">
            <br><br>
            <input type="submit"  class="myButton" value="Add transaction">
        </form>
        <br>
    </div>

    <table class="table"  style=" margin-left: 10%; width: 30%; float: left ;">
        <thead>
            <tr>
                <th colspan="4">Income</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Date</td>
                <td>Amount</td>
                <td>Category</td>
                <td>Comment</td>
            </tr>
            {% for row in income_db %}
            <tr>
                <td>{{ row["date"] }}</td>
                <td>{{ row["amount"] }}</td>
                <td>{{ row["category"] }}</td>
                <td>{{ row["comment"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <table class="table" style=" margin-right: 10%; width: 30%; float: right">
        <thead>
            <tr>
                <th colspan="4">Liabilities</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Date</td>
                <td>Amount</td>
                <td>Category</td>
                <td>Comment</td>
            </tr>
            {% for row in liabilities_db %}
            <tr>
                <td>{{ row["date"] }}</td>
                <td>{{ row["amount"] }}</td>
                <td>{{ row["category"] }}</td>
                <td>{{ row["comment"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}